/.bash_history
/.bashrc
/.cache
/.dotnet
/.gitconfig
/.local
/.profile
/.viminfo
/.vscode-server
/.wget-hsts
/SimplePascalComplier-master
/antlr-4.8-complete.jar
/s1mple-compiler-master
clash.tar.gz
/clash-for-linux
